# Group Dynamics

In this activity, youâ€™ll use the Pandas `groupby` function to calculate the aggregate statistics of a DataFrame.

Instructions:

1. Import `crypto_data.csv` into a Pandas DataFrame by using `read_csv`. Set the index as `data_date`. Be sure to include the `parse_dates` and `infer_datetime_format` parameters. Review the first five rows of the DataFrame.

2. Drop the `data_time` and `timestamp` columns from the DataFrame. Remove any missing values from the remaining columns. Review the first five rows of the cleaned DataFrame.

3. Group the DataFrame by `cryptocurrency`, and then plot the `data_priceUsd` for each cryptocurrency on a single plot.

4. Calculate the `average` price across two years for each cryptocurrency.

5. Calculate the `max` price across two years for each cryptocurrency.

6. Calculate the `min` price across two years for each cryptocurrency.

7. Answer the following questions in your Jupyter notebook:

    * Which cryptocurrency do you recommend investing in?

    * Which cryptocurrency had the largest swing in prices?

References:

[Pandas groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)

In [1]:
# Import the required libraries and dependencies
import pandas as pd
from pathlib import Path

## Step 1: Import `crypto_data.csv` into a Pandas DataFrame by using `read_csv`. Set the index as `data_date`. Be sure to include the `parse_dates` and `infer_datetime_format` parameters. Review the first five rows of the DataFrame.

In [2]:
# Using the read_csv function and the Path module, read in the crypto_data.csv file
# Use the 'data_date' column as the index. Include the parse_dates and infer_datetime_format parameters.
crypto_data_df = pd.read_csv(
    Path("../Resources/crypto_data.csv"), 
    index_col='data_date', 
    parse_dates=True, 
    infer_datetime_format=True)

# Review the first five rows of the DataFrame
crypto_data_df.head()

           cryptocurrency  data_priceUsd     data_time     timestamp
data_date
2017-05-09        bitcoin            NaN  1.494288e+12  1.557285e+12
2017-05-10        bitcoin    1743.723523  1.494374e+12           NaN
2017-05-11        bitcoin    1828.678209  1.494461e+12           NaN
2017-05-12        bitcoin    1776.443919  1.494547e+12           NaN
2017-05-13        bitcoin    1714.964198  1.494634e+12           NaN

## Step 2: Drop the `data_time` and `timestamp` columns from the DataFrame. Remove any missing values from the remaining columns. Review the first five rows of the cleaned DataFrame.

In [3]:
# Drop the data_time and timestamp columns
crypto_data_df = crypto_data_df.drop(columns=['data_time','timestamp'])

# Remove any rows with missing values
crypto_data_df = crypto_data_df.dropna()

# Review the first five rows of the cleaned DataFrame
crypto_data_df.head()

           cryptocurrency  data_priceUsd
data_date
2017-05-10        bitcoin    1743.723523
2017-05-11        bitcoin    1828.678209
2017-05-12        bitcoin    1776.443919
2017-05-13        bitcoin    1714.964198
2017-05-14        bitcoin    1789.278913

## Step 3: Group the DataFrame by `cryptocurrency`, and then plot the `data_priceUsd` for each cryptocurrency on a single plot.

In [4]:
# Group the DataFrame by cryptocurrency and then plot the data_priceUSD
# The plot should include parameters for legend and figsize.
crypto_data_plot = crypto_data_df.groupby('cryptocurrency')['data_priceUsd'].plot(legend=True, figsize=(20, 10))

# View the plot
crypto_data_plot

cryptocurrency
bitcoin         AxesSubplot(0.125,0.2;0.775x0.68)
bitcoin-cash    AxesSubplot(0.125,0.2;0.775x0.68)
ethereum        AxesSubplot(0.125,0.2;0.775x0.68)
litecoin        AxesSubplot(0.125,0.2;0.775x0.68)
ripple          AxesSubplot(0.125,0.2;0.775x0.68)
Name: data_priceUsd, dtype: object

## Step 4: Calculate the `average` price across two years for each cryptocurrency.

In [5]:
# Determine average price, or mean, for each cryptocurrency
crypto_data_avg = crypto_data_df.groupby('cryptocurrency')['data_priceUsd'].mean()

# View the resulting Series
crypto_data_avg

cryptocurrency
bitcoin         6323.018445
bitcoin-cash     733.997564
ethereum         369.037426
litecoin          85.618264
ripple             0.475986
Name: data_priceUsd, dtype: float64

## Step 5: Calculate the `max` price across two years for each cryptocurrency.

In [6]:
# Determine max price for each cryptocurrency
crypto_data_max = crypto_data_df.groupby('cryptocurrency')['data_priceUsd'].max()

# View the resulting Series
crypto_data_max

cryptocurrency
bitcoin         19339.922660
bitcoin-cash     3476.844119
ethereum         1346.037491
litecoin          352.713468
ripple              2.999459
Name: data_priceUsd, dtype: float64

## Step 6: Calculate the `min` price across two years for each cryptocurrency.

In [7]:
# Determine min price for each cryptocurrency
crypto_data_min = crypto_data_df.groupby('cryptocurrency')['data_priceUsd'].min()

# View the resulting Series
crypto_data_min

cryptocurrency
bitcoin         1714.964198
bitcoin-cash      78.977344
ethereum          84.374014
litecoin          22.550468
ripple             0.154144
Name: data_priceUsd, dtype: float64

## Step 7: Answer the following questions:

**Question:** Which cryptocurrency had the largest swing in prices?

**Answer:**  Using just the plot, Bitcoin appears to be the cryptocurrency with the largest swings in prices.

**Question:** Which cryptocurrency do you recommend investing in?

**Answer:** This is a challenging question given the provided information. In order to truly evaluate the performance of each cryptocurrency relative to the others and make an investing decision, you would need to calculate and evaluate the daily return values for each.