# Demo: Using Pandas to Work with Time Data

In [1]:
# Initial imports
import pandas as pd
from path import Path

In [2]:
# Read the S&P 500 CSV data into a DataFrame
df_sp500 = pd.read_csv(
    Path("../Resources/sp500.csv")
)

# Display the DataFrame
df_sp500.head()

                        time   close
0  2019-01-02 12:45:00+00:00  246.16
1  2019-01-02 13:00:00+00:00  246.15
2  2019-01-02 13:15:00+00:00  245.50
3  2019-01-02 13:30:00+00:00  245.71
4  2019-01-02 13:45:00+00:00  245.76

In [3]:
# Verify the data types using dtypes
df_sp500.dtypes

time      object
close    float64
dtype: object

In [4]:
# Reviewing the time value from index position 0
df_sp500["time"][0]

'2019-01-02 12:45:00+00:00'

In [5]:
# Getting the current date and time
pd.to_datetime("today")

Timestamp('2021-11-08 11:02:25.260824')

In [6]:
# Transform the time column to a datetime data type
df_sp500["time"] = pd.to_datetime(
    df_sp500["time"],
    infer_datetime_format =True,
    utc = True
)

# Verify the data type transformation using the info function
df_sp500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9328 entries, 0 to 9327
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    9328 non-null   datetime64[ns, UTC]
 1   close   9328 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(1)
memory usage: 145.9 KB

In [7]:
# Convert the time column to the US/Eastern timezone
df_sp500["time"] = df_sp500["time"].dt.tz_convert("US/Eastern")

# Verify the data type transformation using the info function
df_sp500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9328 entries, 0 to 9327
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    9328 non-null   datetime64[ns, US/Eastern]
 1   close   9328 non-null   float64
dtypes: datetime64[ns, US/Eastern](1), float64(1)
memory usage: 145.9 KB

In [8]:
# Review the DataFrame with the new timezone information
df_sp500.head()

                       time   close
0 2019-01-02 07:45:00-05:00  246.16
1 2019-01-02 08:00:00-05:00  246.15
2 2019-01-02 08:15:00-05:00  245.50
3 2019-01-02 08:30:00-05:00  245.71
4 2019-01-02 08:45:00-05:00  245.76