### Student Activity: Portfolio Planner Part I

This program is part 1 of a two-part student activity and begins the following:

`PART 1: Portfolio Optimization via Risk Evaluation`

Reads in the CSV datasets of 10 stocks, calculates the volatility of each stock, drops the top-five highly volatile stocks, sets allocations for the remaining stocks based on risk/volatility, and calculates the returns of a hypothetical `$10,000` investment for the constructed portfolio.

`PART 2: Portfolio Optimization via Correlation and Return-to-Risk (Sharpe Ratio) Evaluations`

To be continued in the second part!

In [24]:
# Import libraries and dependencies
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

### Read CSVs as DataFrames

In [25]:
# Set the file paths
bk_data = Path("../Resources/bk_data.csv")
fang_data = Path("../Resources/fang_data.csv")
jnj_data = Path("../Resources/jnj_data.csv")
luv_data = Path("../Resources/luv_data.csv")
mu_data = Path("../Resources/mu_data.csv")
nke_data = Path("../Resources/nke_data.csv")
sbux_data = Path("../Resources/sbux_data.csv")
t_data = Path("../Resources/t_data.csv")
wdc_data = Path("../Resources/wdc_data.csv")
wrk_data = Path("../Resources/wrk_data.csv")

# Read the CSVs and set the `date` column as a datetime index to the DataFrame
bk_df = pd.read_csv(bk_data, index_col="date", infer_datetime_format=True, parse_dates=True)
fang_df = pd.read_csv(fang_data, index_col="date", infer_datetime_format=True, parse_dates=True)
jnj_df = pd.read_csv(jnj_data, index_col="date", infer_datetime_format=True, parse_dates=True)
luv_df = pd.read_csv(luv_data, index_col="date", infer_datetime_format=True, parse_dates=True)
mu_df = pd.read_csv(mu_data, index_col="date", infer_datetime_format=True, parse_dates=True)
nke_df = pd.read_csv(nke_data, index_col="date", infer_datetime_format=True, parse_dates=True)
sbux_df = pd.read_csv(sbux_data, index_col="date", infer_datetime_format=True, parse_dates=True)
t_df = pd.read_csv(t_data, index_col="date", infer_datetime_format=True, parse_dates=True)
wdc_df = pd.read_csv(wdc_data, index_col="date", infer_datetime_format=True, parse_dates=True)
wrk_df = pd.read_csv(wrk_data, index_col="date", infer_datetime_format=True, parse_dates=True)

# Display a few rows
wrk_df.head()

            close
date
2019-05-20  35.15
2019-05-17  36.66
2019-05-16  37.42
2019-05-15  37.44
2019-05-14  37.19

### Combine DataFrames, Sort Index, and Rename Columns

In [26]:
# Create a new pivot table where the columns are the closing prices for each ticker
combined = pd.concat([bk_df, fang_df, jnj_df, luv_df, mu_df, nke_df, sbux_df, t_df, wdc_df, wrk_df], axis="columns", join="inner")

# Sort datetime index in ascending order (past to present)
combined.sort_index(inplace=True)
combined

# Set column names
combined.columns = ['BK', 'FANG', 'JNJ', 'LUV', 'MU', 'NKE', 'SBUX', 'T', 'WDC', 'WRK']

# Display a few rows
combined

,BK,FANG,JNJ,LUV,MU,NKE,SBUX,T,WDC,WRK
date,,,,,,,,,,
2015-06-24,43.29,77.955,99.33,34.35,24.06,53.110,53.710,35.78,87.73,58.5699
2015-06-25,42.85,76.390,99.12,34.49,24.02,52.610,54.070,36.18,85.95,57.2022
2015-06-26,42.98,75.250,99.64,34.32,19.66,54.855,54.620,36.12,84.45,57.2022
2015-06-29,41.79,75.160,97.68,33.18,18.73,53.835,53.550,35.77,81.96,56.1857
2015-06-30,41.97,75.380,97.46,33.09,18.84,54.010,53.615,35.52,78.42,56.2781
...,...,...,...,...,...,...,...,...,...,...
2019-05-13,47.15,107.200,137.20,51.04,37.38,82.530,76.680,30.47,42.99,36.1200
2019-05-14,47.01,109.110,136.82,51.65,38.51,83.670,77.060,31.09,44.63,37.1900
2019-05-15,46.51,109.060,136.91,52.01,38.41,84.010,77.760,31.25,45.49,37.4400
2019-05-16,46.54,110.630,138.21,52.59,37.31,84.280,78.900,31.62,45.09,37.4200
2019-05-17,46.08,111.020,138.61,52.24,36.06,84.570,78.910,31.80,44.63,36.6600

### Calculate Daily Returns

In [27]:
# Use the `pct_change` function to calculate daily returns
daily_returns = combined.pct_change()
daily_returns.dropna(inplace = True)
daily_returns

,BK,FANG,JNJ,LUV,MU,NKE,SBUX,T,WDC,WRK
date,,,,,,,,,,
2015-06-25,-0.010164,-0.020076,-0.002114,0.004076,-0.001663,-0.009414,0.006703,0.011179,-0.020290,-0.023352
2015-06-26,0.003034,-0.014923,0.005246,-0.004929,-0.181515,0.042672,0.010172,-0.001658,-0.017452,0.000000
2015-06-29,-0.027687,-0.001196,-0.019671,-0.033217,-0.047304,-0.018594,-0.019590,-0.009690,-0.029485,-0.017770
2015-06-30,0.004307,0.002927,-0.002252,-0.002712,0.005873,0.003251,0.001214,-0.006989,-0.043192,0.001645
2015-07-01,0.005004,-0.033961,0.010363,-0.014204,-0.003185,0.013053,0.005129,0.001408,0.013007,0.024631
...,...,...,...,...,...,...,...,...,...,...
2019-05-13,-0.019751,-0.006395,-0.013305,-0.032234,-0.040062,-0.016915,-0.022188,-0.004899,-0.062582,-0.029815
2019-05-14,-0.002969,0.017817,-0.002770,0.011951,0.030230,0.013813,0.004956,0.020348,0.038148,0.029623
2019-05-15,-0.010636,-0.000458,0.000658,0.006970,-0.002597,0.004064,0.009084,0.005146,0.019270,0.006722
2019-05-16,0.000645,0.014396,0.009495,0.011152,-0.028638,0.003214,0.014660,0.011840,-0.008793,-0.000534
2019-05-17,-0.009884,0.003525,0.002894,-0.006655,-0.033503,0.003441,0.000127,0.005693,-0.010202,-0.020310

### Evaluate Riskiness of Stocks

In [ ]:
# Use the `std` function and multiply by the square root of the number of trading days in a year to get annualized volatility
volatility = daily_returns.std()*np.sqrt(252)
volatility.sort_values(inplace=True)
volatility

### Drop High Volatility Stocks

In [32]:
# Drop the five stocks with the highest volatility in daily returns
daily_returns.drop(daily_returns.iloc[:,-4:])

KeyError: "['SBUX' 'T' 'WDC' 'WRK'] not found in axis"

### Set Portfolio Allocations/Weights and Calculate Portfolio Daily Returns

In [29]:
daily_returns

,BK,FANG,JNJ,LUV,MU,NKE,SBUX,T,WDC,WRK
date,,,,,,,,,,
2015-06-25,-0.010164,-0.020076,-0.002114,0.004076,-0.001663,-0.009414,0.006703,0.011179,-0.020290,-0.023352
2015-06-26,0.003034,-0.014923,0.005246,-0.004929,-0.181515,0.042672,0.010172,-0.001658,-0.017452,0.000000
2015-06-29,-0.027687,-0.001196,-0.019671,-0.033217,-0.047304,-0.018594,-0.019590,-0.009690,-0.029485,-0.017770
2015-06-30,0.004307,0.002927,-0.002252,-0.002712,0.005873,0.003251,0.001214,-0.006989,-0.043192,0.001645
2015-07-01,0.005004,-0.033961,0.010363,-0.014204,-0.003185,0.013053,0.005129,0.001408,0.013007,0.024631
...,...,...,...,...,...,...,...,...,...,...
2019-05-13,-0.019751,-0.006395,-0.013305,-0.032234,-0.040062,-0.016915,-0.022188,-0.004899,-0.062582,-0.029815
2019-05-14,-0.002969,0.017817,-0.002770,0.011951,0.030230,0.013813,0.004956,0.020348,0.038148,0.029623
2019-05-15,-0.010636,-0.000458,0.000658,0.006970,-0.002597,0.004064,0.009084,0.005146,0.019270,0.006722
2019-05-16,0.000645,0.014396,0.009495,0.011152,-0.028638,0.003214,0.014660,0.011840,-0.008793,-0.000534
2019-05-17,-0.009884,0.003525,0.002894,-0.006655,-0.033503,0.003441,0.000127,0.005693,-0.010202,-0.020310

In [ ]:
# Set weights for corresponding risk profile of stocks, use the `dot` function to multiply each weight by the corresponding stock daily return
# BK, LUV, NKE, SBUX, T
weights = [0.15, 0.05, 0.10, 0.2, 0.50]
portfolio_returns = daily_returns.dot(weights)
portfolio_returns.head()

### Calculate Cumulative Returns

In [ ]:
# Use the `cumprod` function to calculate cumulative returns
cumulative_returns = (1+portfolio_returns).cumprod()

### Plot Return of Portfolio Starting with Initial Investment of `$10,000`

In [ ]:
# Plot the returns of the portfolio in terms of money
initial_investment = 10000
cumulative_profit = initial_investment*cumulative_returns
cumulative_profit.plot(figsize=(25,10))